- name: install libraries for rbenv
  become: yes
  apt:
    name:
      - rbenv
      - libssl-dev
      - libreadline-dev
      - g++
      - make
      - git

- name: check ruby version
  shell: ruby --version | grep {{ ruby_version }}
  register: check_ruby
  ignore_errors: yes

- name: clone ruby-build
  git:
    repo: https://github.com/sstephenson/ruby-build.git
    dest: ~/.rbenv/plugins/ruby-build
  when: check_ruby.rc != 0

- name: install ruby
  shell: rbenv install {{ ruby_version }} -s
  when: check_ruby.rc != 0

- name: rehash rbenv
  shell: rbenv rehash
  when: check_ruby.rc != 0

- name: change ruby version {{ ruby_version }}
  shell: rbenv global {{ ruby_version }}
  when: check_ruby.rc != 0

- name: setting for rbenv
  lineinfile:
    path: ~/.ansible_preload
    line: eval "$(rbenv init -)"
    create: yes

- name: gem update
  become: yes
  shell: gem update --system

- name: install bundler
  gem:
    name: bundler
    version: "{{ bundler_version }}"
